# .gitignore

# Dependencies
node_modules/

# Environment variables (NUNCA subir a Git)
.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db
*.swp
*.swo

# IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Production build
dist/
build/

# Test coverage
coverage/
.nyc_output/

# Temporary files
temp/
tmp/
*.tmp

# Database
*.sqlite
*.db